Source: pulseaudio-nokia
Priority: optional
Maintainer: Maemo Multimedia <multimedia@maemo.org>
Build-Depends: debhelper (>= 5),
	       check (>= 0.9.4),
	       libdbus-1-dev (>= 1.2.3),
	       libltdl7-dev (>= 2.2.6a-1~maemo1) | libltdl-dev,
	       libpulse-dev (>= 0.9.15-1maemo43),
	       pulseaudio-dev (>= 0.9.15-1maemo43),
	       libcmtspeechdata-dev, libbmeipc-dev,
Standards-Version: 3.8.0
Section: sound

Package: pulseaudio-module-nokia-common
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Common libraries for Nokia PulseAudio modules
 Common libraries used by Nokia PulseAudio modules.

Package: pulseaudio-module-nokia-eap
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Entertainment Audio Platform module for Nokia PulseAudio
 Entertainment Audio Platform common library used by Nokia PulseAudio modules.

Package: pulseaudio-module-nokia-drc
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}, pulseaudio-module-nokia-eap (= ${binary:Version})
Description: Multiband DRC module for Nokia PulseAudio
 Multiband Dynamic Range Compression common library used by Nokia PulseAudio modules.

Package: pulseaudio-module-nokia-voice
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}, pulseaudio-module-nokia-common (= ${binary:Version})
Conflicts: pulseaudio (<< 0.9.15-1maemo32)
Description: PulseAudio Nokia voice module
 Nokia voice module.

Package: pulseaudio-module-nokia-music
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}, pulseaudio-module-nokia-common (= ${binary:Version}), pulseaudio-module-nokia-drc (= ${binary:Version})
Description: PulseAudio Nokia music module
 Nokia music module.

Package: pulseaudio-module-nokia-record
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, ${shlibs:Depends}, pulseaudio-module-nokia-common (= ${binary:Version}), pulseaudio-module-nokia-drc (= ${binary:Version})
Description: PulseAudio Nokia record module
 Nokia record module.

Package: pulseaudio-module-nokia-xprot
Section: libs
Architecture: armel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PulseAudio Nokia xprot module
 Nokia xprot module.

Package: pulseaudio-module-nokia-common-dev
Priority: extra
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-common (= ${binary:Version})
Description: Common libraries for Nokia PulseAudio modules (Headers)
 Headers for PulseAudio Nokia common module library.

Package: pulseaudio-module-nokia-common-dbg
Priority: extra
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-common (= ${binary:Version})
Description: Common libraries for Nokia PulseAudio modules (debug symbols)
 Libraries for Nokia PulseAudio modules, debug symbols.

Package: pulseaudio-module-nokia-eap-dbg
Priority: extra
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-eap (= ${binary:Version})
Description: EAP module for Nokia PulseAudio (debug symbols)
 EAP common libraries used by Nokia PulseAudio modules, debug symbols.

Package: pulseaudio-module-nokia-drc-dbg
Priority: extra
Section: libs
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-drc (= ${binary:Version})
Description: Multiband DRC module for Nokia PulseAudio (debug symbols)
 Multiband Dynamic Range Compression common library used by Nokia PulseAudio
 modules, debug symbols.

Package: pulseaudio-module-nokia-voice-dbg
Priority: extra
Section: libdevel
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-voice (= ${binary:Version})
Description: PulseAudio Nokia Voice module (debug symbols)
 Nokia voice module, debug symbols.

Package: pulseaudio-module-nokia-music-dbg
Priority: extra
Section: libdevel
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-music (= ${binary:Version})
Description: PulseAudio music module (debug symbols)
 Nokia music module, debug symbols.

Package: pulseaudio-module-nokia-record-dbg
Priority: extra
Section: libdevel
Architecture: armel i386
Depends: ${misc:Depends}, pulseaudio-module-nokia-record (= ${binary:Version})
Description: PulseAudio record module (debug symbols)
 Nokia record module, debug symbols.

Package: pulseaudio-module-nokia-xprot-dbg
Section: extra
Architecture: armel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PulseAudio Nokia xprot module (debug symbols)
 Nokia xprot module, debug symbols.
