#!/usr/bin/make -f

# These would be needed to create usr/lib/pkgconfig/*.pc files
#include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/autotools.mk

DEB_BUILD_ARCH_CPU ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH_CPU)

CFLAGS = -Wall -g -fPIC

#To disable fastpath asserts uncomment following line
#CFLAGS += -DFASTPATH=1

#To disable asserts all together uncomment following line
#CFLAGS += -DNDEBUG=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0 -rdynamic -fno-omit-frame-pointer -mapcs-frame
else
	CFLAGS += -O3
endif

ifeq ($(DEB_BUILD_ARCH),armel)
	CFLAGS += -mfpu=neon -mfloat-abi=softfp
endif

ifneq (,$(findstring thumb,$(DEB_BUILD_OPTIONS)))
ifeq ($(DEB_BUILD_ARCH), armel)
	CFLAGS += -mthumb
endif
endif

CONFIGURE_ARGS =				\
	--enable-shave=no			\
	--enable-cmtspeech

configure: configure-stamp
configure-stamp:
	dh_testdir
	CFLAGS="${CFLAGS}" ./bootstrap.sh $(CONFIGURE_ARGS)
	touch $@

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE)
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lintian
	cp -a $(CURDIR)/debian/overrides $(CURDIR)/debian/tmp/usr/share/lintian

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_strip --dbg-package=pulseaudio-module-nokia-common-dbg -p pulseaudio-module-nokia-common
	dh_strip --dbg-package=pulseaudio-module-nokia-eap-dbg -p pulseaudio-module-nokia-eap
	dh_strip --dbg-package=pulseaudio-module-nokia-drc-dbg -p pulseaudio-module-nokia-drc
	dh_strip --dbg-package=pulseaudio-module-nokia-voice-dbg -p pulseaudio-module-nokia-voice
	dh_strip --dbg-package=pulseaudio-module-nokia-music-dbg -p pulseaudio-module-nokia-music
	dh_strip --dbg-package=pulseaudio-module-nokia-record-dbg -p pulseaudio-module-nokia-record
	dh_strip --dbg-package=pulseaudio-module-nokia-xprot-dbg -p pulseaudio-module-nokia-xprot
	dh_fixperms
	dh_installdocs
	dh_installchangelogs
	dh_installdeb
	dh_compress
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary install configure
